<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.2" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence           http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd">
  <persistence-unit name="CadastroServerPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>cadastroserver.model.PessoaFisica</class>
    <class>cadastroserver.model.Produto</class>
    <class>cadastroserver.model.Usuario</class>
    <class>cadastroserver.model.Movimento</class>
    <class>cadastroserver.model.PessoaJuridica</class>
    <class>cadastroserver.model.Pessoa</class>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:sqlserver://localhost\loja:1433;databaseName=loja;encrypt=false"/>
      <property name="javax.persistence.jdbc.user" value="loja"/>
      <property name="javax.persistence.jdbc.driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
      <property name="javax.persistence.jdbc.password" value="loja"/>
    </properties>
  </persistence-unit>
</persistence>
